@import url('http://fonts.googleapis.com/css2?family=Roboto:wgth@400;700&display=swap');

* {
box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.button{
  background-color: #b68ef7;
  color: #0a0218;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font: inherit;
}

.button:hover, .button:active{
  background-color: #a16cf7;
}

.button.button--text-only{
  background-color: transparent;
  color: #ccb2f6;
}

.button.button--text-only:hover,
.button.button--text-only:active {
  color: #b592ed;
}

#main-header{
  width: 80%;
  max-width: 80rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header h1{
  margin:0;
  font-size: 1.5rem;
  color: #ceb7ef;
}

#main-header nav ul{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#main-header a{
  text-decoration: none;
  color: #c6a8f5;
  padding: 0.25rem 0;
  border-bottom: 2px solid transparent;
}

#main-header a:hover,
#main-header a:active,
#main-header a.active {
  border-color: #c6a8f5;
}

#home-page{
  width: 80%;
  max-width: 60rem;
  margin: 3rem auto;
  border-radius: 8px;
  color: white;
}

#home-page h2{
  margin: 0;
  font-size: 2.5rem;
  color: #e1d8f0;
}

#home-page section{
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

#home-page section:nth-child(odd){
  flex-direction: row-reverse;
}

#home-page img{
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
}

#home-page h3{
  margin: 0;
  font-size: 1.5rem;
  color: #c7b0ee;
}

#home-page p{
  max-width: 60ch;
  margin: 2rem 0;
  font-size: 1.25rem;
  color: #d5cbe7;
}

@keyframes fade-slide-down{
  from{
    opacity: 0;
    transform: translateY(-1rem);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}